/* basic reset */
body {
  font-family: 'Roboto', sans-serif;
  background-color: #ffffff;
  color: #434455;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

img {
  display: block;
}

ul {
  padding: 0; 
  margin: 0;
  list-style-type: none;
  
}

a {
  text-decoration: none;
  color: currentColor;
}



/* basic reset */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  max-width: 1158px;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
/* header */

header { 

  border-bottom: 1px solid #e7e9fc;
}

.logo-header {
  margin-right: 76px;
}

.container-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #e7e9fc;
}

.logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}

.header-logo-color {
  color: #2e2f42;
}

.header-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-list-nav {
  display: flex;
  gap: 40px;
} 

.header-nav-item {
  padding: 23.5px 0;
}

.header-link-nav {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.header-link-nav:hover,
.header-link-nav:focus {
  color: #404bbf;
}

.header-address {
  font-style: normal;
}

.header-list-address {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 40px;

}

.header-address-link {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

.header-address-link:hover,
.header-address-link:focus {
  color: #404bbf;
}
/* header */

/* section-hero */
.section-hero {
  background-color: #2e2f42;
}

.container-hero { 
padding-top: 188px;
padding-bottom: 188px;

}

.section-hero-title {
  max-width: 496px;
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  text-align: centergi;
  color: #fff;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 48px;
}

.section-hero-button {
  background-color: #4d5ae5;
  display: block;
  border-radius: 4px;
  border: none;
  padding: 16px 32px;
  min-width: 169px;
  height: 56px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  cursor: pointer;
  margin: 0 auto;
}

.section-hero-button:hover,
.section-hero-button:focus {
  background-color: #404bbf;
}
/* section-hero */

/* section-Feature */

.container-feature {
 padding: 120px 15px;
}

.section-feature-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}

.section-feature-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 24px;
}

.section-feature-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

/* section-Feature */

/* section-team */
.container-team {
padding: 120px 15px;
}

.section-team {
  background-color: #f4f4fd;
}

.section-team-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 24px;
}

.section-team-item {
  background-color: #ffffff;
  padding-bottom: 32px;
  width: calc((100% - 24px * 3)/3);
}

.section-team-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  text-transform: capitalize;
  color: #2e2f42;
  margin-bottom: 72px;
}

.section-team-img {
  margin-bottom: 32px;
}

.section-team-subtitle {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 8px;
}

.section-team-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  color: #434455;
}

/* section-team */

/* section-portfolio */
.container-portfolio {
  padding-top: 120px;
  padding-bottom: 120px;
}


.section-portfolio-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 24px;
  flex-wrap: wrap;


}

.section-portfolio-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  text-transform: capitalize;
  color: #2e2f42;
  margin-bottom: 72px;
}

.section-portfolio-subtitle {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.section-portfolio-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

/* section-portfolio */

/* section-footer */

.container-footer {
  padding-top: 100px;
  padding-bottom: 100px;
}

.footer {
  background-color: #2e2f42;
}

.footer-text {
  max-width: 264px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
}

.logo-footer {
  display: inline-block;
  margin-bottom: 16px;
}

.footer-logo-color {
  color: #f4f4fd;
}
/* section-footer */
